<div class="row">
  <div class="large-9 large-centered columns">
    <div class="panel radius callout">
      <h3>About Ember Bloggr</h3>
    </div>

    <h3 class="subheader">
      This application is intended to be a second step to learning the basics of <a href="http://emberjs.com">Ember.js</a>
      after watching the great intro <a href="https://www.youtube.com/watch?v=Ga99hMi7wfY" target=_BLANK>video on youtube</a>
      by <a href="http://github.com/tomdale">Tom Dale</a>.
    </h3>

    <h4 class="subheader">
      Let's get started, first things first mozy on over to <a href="https://github.com/moosehead/ember-bloggr" target=_BLANK>
        the Github repo for this project</a>.
    </h4>


    <h5 class="subheader">
      The goal of this application is to push out incremental additions, refactoring current code to best practices, and
      buld out a fully functional app that will be enough to get you going on building your own Ember.js applications.
    </h4>

    <h5 class="subheader">
      No assumptions will be made on your level of knowledge with Ember.js or Single Page Application development.<br /><br />
      I will however be building off the basics of the screen cast mentioned above.  Having said that it cannot hurt to
      gather some knowledge from others with different perspectives.  Here are some of my favorite resources that are current
      at the moment.
    </h4>

    <h5 class="subheader">
      <table>
        <thead>
          <tr>
            <th width="300">Resource</th>
            <th width="500">Description</th>
            <th width="100">Price</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td><a href="https://peepcode.com/products/emberjs" target=_BLANK>Fire Up Ember.js</a></td>
            <td>Peepcode has once again out done themselves and released an amazing video on Ember.js.
                I cannot reccomend their subscription plans</td>
            <td>$12.00</td>
          </tr>
          <tr>
            <td><a href="http://railscasts.com/episodes/408-ember-part-1" target=_BLANK>Ember Part 1 & 2</a></td>
            <td>The infamous Railscasts by Ryan Bates is not just Rails knowledge anymore and these two part screencasts
                also available as an ASCIIcast (for the person that prefers to read and rock out) is a great addition to
                anyone getting started.</td>
            <td>$9.99 / month</td>
          </tr>
          <tr>
            <td><a href="http://toranbillups.com/blog/archive/2013/03/02/emberjs-rc1-introduction-screencast/">Intro by Toran Billups</a></td>
            <td>Mr. Billups has been kicking out a lot of material for a while now and his videos are top notch. I highly
                reccomend that you give this video a watch.  I also like that he uses Django to give some perspective on
                how to use Ember with some Python goodness.</td>
            <td>Free!</td>
          </tr>
          <tr>
            <td><a href="http://www.noelrappin.com/" target=_BLANK>Noel Rappin MSTWJ</a></td>
            <td>Noel said it best in his why he wrote the book(s), "it's the JavaScript book I wanted to hand to our last
              apprentice when he asked for a guide to JavaScript.  This book will start you off on a journey of TDD based JS
              development and at the end you will be able to compare and contrast Ember to other frameworks. I love it and Noel
              is an excellent educator.</td>
            <td>$7.00 / $15.00</td>
          </tr>
          <tr>
            <td><a href="http://www.emberwatch.com" target=_BLANK>Emberwatch.com</a></td>
            <td>Not much gets by this site and for good reason, I always stop by here to see if I missed any tweets about new
              resources, meetup slideshows, just about anything related to Ember.js that is current can be found here.  Great work!</td>
            <td>Free!</td>
          </tr>
        </tbody>
      </table>
    </h5>


    <h6 class="subheader">
      Thank you Ember team for being so awesome,<br />
      Ryan Yogan<br />
      @ryanyogan
    </h6>
  </div>
</div>
