<div class="row">
  <div class="large-9 large-centered columns">
    <div class="panel radius callout">
      <h3>About Ember Bloggr</h3>
    </div>

    <h3 class="subheader">
      This application is intended to be a second step to learning the basics of <a href="http://emberjs.com">Ember.js</a>
      after watching the great introductory <a href="https://www.youtube.com/watch?v=Ga99hMi7wfY" target=_BLANK>video on youtube</a>
      by <a href="http://github.com/tomdale">Tom Dale</a>.
    </h3>

    <h4 class="subheader">
      Let's get started, first things first mozy on over to <a href="https://github.com/moosehead/ember-bloggr" target=_BLANK>
        the Github repo for this project</a>.
    </h4>


    <h4 class="subheader">
      The purpose of this application is to show you one of the many ways to add structure to your Ember application, by
      using the Asset Pipeline from Rails and utilize the Rails-Api gem for simplicity.  It is my intention to write up a series
      of step based tutorials adding on to this applicaiton.  Slowly making the backend and front end more robust, as this app
      is in shape or form *production* ready.  As the tutorial to create a fully functional blogging engine is continued, the 
      app to deliver this tutorial will in turn be the app we create.
    </h4>

    <h6 class="subheader">
      Thank you Ember team for being so awesome,<br />
      Ryan Yogan<br />
      @ryanyogan
    </h6>
  </div>
</div>
