<div class="about">

  <p>Import Note:  Please run rails-api generate ember:install --head to recieve the latest version of Ember and Ember-Data</p>
  <p>This application is a mirror image of the great screen cast by <a href="http://github.com/tomdale" target=_BLANK>Tom Dale</a>
  which cane be found on YouTube <a href="https://www.youtube.com/watch?v=Ga99hMi7wfY" target=_BLANK>HERE</a>.</p>

  <p>I have noticed for some the transition from the basic tutorials to using a framework such as Rails with
  the Asset Pipeline for some basic code organization can be tough. In addition, using the same applicaiton
  to serve the JSON responses.</p>

  <p>In this app we are using Rails API as we don't need all the features of Rails, however we have included a feew
  extras that I will talk about. A long with Active Model Serializers which is a great serializer for Ember's RestAdapter
  to consume your data.  But this does not mean you cannot create your own responses with sraight ruby, RABL, JBuilder,
  Node.js, you get the idea.</p>

  <p>Please check back later for documentation on an explination of this application, I would also like to give credit 
  to [FILL_IN] for the simple routes constraints</p>

  <div class="about">
    <p>My name is Ryan Yogan, and all I did was add on to Tom Dale's screen cast</p>

    <p>Tom Dale helped create Ember.js .... fill this in later lets get to more of the app</p>
  </div>
</div>
