<div class="row">
  <div class="large-3 columns">
        {{#each model}}
              {{#linkTo 'post' this class="button small radius expand"}}{{title}}<small> by {{author}}</small>{{/linkTo}}
         {{/each}}
   </div>
   <div class="large-9 columns">
     {{outlet}}
   </div>
 </div>
</div>

