<div class="row">
  <div class="large-3 columns">
    <ul class="side-nav">
      {{#each model}}
        <li>{{#linkTo 'post' this}}{{title}}</small>{{/linkTo}}</li>
        <li class="divider"></li>
      {{/each}}
     </ul>
   </div>
   <div class="large-9 columns">
     {{outlet}}
   </div>
 </div>
</div>

